body {margin: 0;}

.header {text-align: center;
font-size: 2.4rem;
font-weight: 400;
font-family: Roboto;
font-style: normal;
line-height: normal;
letter-spacing: 4.8px;
margin-top: 30px;}

.st {color: #3E45E8;}
.uk {color: #E8C23E;}

.toptext {margin-top: 25px;
    height: 766px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 157.3%;
    padding-left: 141px;
    padding-top: 251px;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.nmu {width: 650px;
    height: 63px;
    font-size: 40px;
    font-weight: 700;
    line-height: 62.95px;
    margin-top: 48px;
    margin-left: 80px;
}

table {border: none;
    width: 779px;
    height: 12px;
    margin-top: 17px;
}

.blue {background-color: #3E45E8;}
.yellow {background-color: yellow;}

.box {display: inline-block;
    border: black solid;
    width: 30%;
    height: 481px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 30px;
}

.card {display: flex;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 70%;
    border-radius: 30px 30px 10px 10px;
}

.pic-name {
    color: #0072DB;
    font-size: 24px;
    font-weight: 700;
    line-height: 37.75px;
    margin-left: 10px;
}

.link {
    font-size: 20px;
    font-weight: 400;
    line-height: 31.46px;
    color: #F90;
    margin-left: 10px;
}

.nup {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 157.3%;
    text-align: center;
    margin-top: 45px;
}

.line {
    width: 592px;
    height: 7px;
    margin: 0 auto;
    background: #1400FF;
    margin-top: 19px;
}

.map {
    width: 1001px;
    height: 626px;
    margin: 0 auto;
    margin-top: 25px;
}

.bottom {
    width: 499px;
    height: 81px;
    border-radius: 50px;
    background: #2A61F0;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 23px;
}

a {text-decoration: none;}

.futer {
    height: 233px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}

.mail, .tel {
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 3.6px;
    line-height: 45.14px;
}